body {
    font-family: 'Assistant', sans-serif;
    background-image: url('/images/dot-grid.png');
    overflow-x: hidden;
}

.jmi__bg{
  top: 0%;
  left: 0%;
  position: fixed;
  bottom: 0%;
  width: 100%;
  z-index: -10;
  filter:saturate(0) opacity(0.2) blur(5px);
}

.nav__btn{
  background-color: transparent;
}

.ER_1{
  border-radius: 20px;
  width: 900px!important;
  height: 300px!important;
}

.ER {
    text-align: center!important;
}

.ER__logo{
    width: 40%;
    filter:saturate(1.3);
}

.ER__heading {
    font-weight: 100;
}

.ER__body{
    font-weight: 400;
    margin: 0% 20%;
    font-size: 1.5rem;
    /* color: #e79530;
    text-shadow: 1px 1px 0px #2480ba5e; */
}

.ER__imgtest{
    display: inline-block;
    margin-top: 2%;
    width: 70%;
}

.flip-card {
  display: inline-block;
    margin-top: 2%;
    background-color: transparent;
    width: 900px;
    height: 300px;
    perspective: 1000px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    padding: 10%;
  }

  .card__info{
    font-size: 2rem;
    font-weight: 100;
  }

  .PYC{
    margin-top: 2%;
    font-weight: 800;
    font-size: 3rem!important;
    color: #2481ba;
    text-shadow: 2px 2px 0px #eba0445e;
  }
  .ER__BestWishesQuote{
    font-weight: 200!important;

  }

  .ER__BW{
    background-color: rgba(255, 255, 255, 0.486);
    box-shadow: 2px 2px 50px 5px rgba(24, 24, 24, 0.349);
  }
  .ER__line{
    margin: 5% 15%;

  }

  .ER__BW div{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .ER__syllabus h1{
    font-size: 3rem;
    color: #2481ba;
    text-shadow: 2px 2px 0px #eba04481;

    font-weight: 800;
  }
  .ER__syllabus div{
    margin: 1% 24%;
  }

  .ER__syllabuscard h2{
    font-size: 4rem;
    font-weight: 800;
    color: #eba044;
  }

  .ER__syllabuscard h3{
    font-weight: 800;
    font-size: 2.5rem;
    color: #2481ba;
    text-shadow: 2px 2px 0px #eba04481;

  }

  .ER__syllabuscard{
    padding: 5%;
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.178);
    border-radius: 25px;
    width: 45%;
    margin: 2% !important;
    background-color: whitesmoke;
  }

  .ER__syllabuscard a{
    margin-top: 8%;
    font-size: 1.4rem;
    font-weight: 800;
    padding: 6%;
    border-radius: 50px;
    background-color: #2481ba;
    color:white;

    /* background: transparent; */
    border: none;
    text-shadow: 2px 2px 0px #eba044;
    /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.315) inset; */
    transform: scale(1);
    transition: all 0.2s;
  }

  .ER__syllabuscard a:hover{
    background-color: transparent;
    color: #2481ba;
    transform: scale(1.3);
    /* box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.164); */
    border: none;
  }

  .ER__syllabuscard a:focus{
    outline: none;
    box-shadow: none;
    color: white;
  }

  .ER__PR h2{
    margin-bottom: 4%;
  }
  .ER__PRcard{
    display: block;
    text-decoration: none;
    padding: 1% 5%;
    font-size: 2.5rem;
    background-color: #eba044;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px 0px #2481ba;
    border-radius: 25px;
    margin: 2% 35%;
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.178);
    transform: scale(1);
    transition: transform 0.2s;
  }
  .ER__PRcard:hover{
    color: white;
    transform: scale(1.1);
  }

  .ER__FAQ_Qs{
    margin: 2% 20%;
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.185);
  }

  .ER__FAQHeading{
    display: block;
    margin: 2% 0%;
    font-size: 3rem;
    font-weight: 800;
    color: #eba044;
    text-shadow: 2px 2px 0px #2480ba67;
  }


  .ER__FAQCard{
    background-color: transparent;
    border: none;
  }
  .ER__FAQ_Qs a{
    display: flex;
    text-align: left;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px 0px #2481ba;
    background-color: #eba044;
    border-radius: 25px!important;
    padding: 1%;
    padding-left: 4%;
  }

  .ER__link{
    background-color: transparent!important;
    font-size: 1rem!important;
    color: black !important;
    text-shadow: 1px 1px 0px #eba04462;
    text-shadow: none!important;
    padding: 0%!important;
    display: inline-block!important;
  }
  .ER_Qtext{
    flex: 0.8;
  }

  .ER_Arrow{
    flex: 0.2;
    float:right;
    padding-top: 1%;

  }

  .ER_Arrow::before{
    float:right;
  }
  .ER__CardBody{
    background-color: white;
    padding: 2%;
    border-radius: 25px;
    text-align: left;
    font-weight: 800;
    color: black;
    font-size: 1.5rem;
    text-shadow: 1px 1px 0px #eba04462;
  }

.footer {
    margin-top: 10%;
}

.footer_logo {
    width: 60%;
}

.footer__desc {
    font-weight: 400;
}

@media all and (max-width: 991px) {
    .home__main {
        text-align: center;
        width: 100%;
    }
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .ER__logo{
      text-align: center;
      margin-left: 6%;
      width: 80%;
    }

    .ER__body{
      margin: 1% 2%;
      margin-left: 6%;
      font-size: 0.8rem;
    }
    .flip-card{
      margin-left: 5%;
      width: 90%;
      height: 100px;
      perspective: 0%;
    }
    .ER{
      /* display: flex;
      flex-direction: column; */
      text-align: center;
    }

    .ER_1{
      width: 100%!important;
      height: auto!important;
      border-radius: 5px;
    }

    .card__info{
      font-size: .91rem;
    }
    .flip-card-back{
      padding: 2% 5%;
    }
    .PYC{
      margin-top: 5%;
      font-size: 2rem!important;
    }
    .ER_PYC{
      display: inline-block;
      width: 90%!important;
      margin-left: 5%;
    }
    .jmi__bg{
      height: 100%;
    }
    .ER__BW{
      width: 100%;
    }
    .ER__syllabusshow{
      display: block!important;
      margin: 0%!important;
    }
    .ER__syllabuscard{
      width: 82%;
      margin: 10%!important;
    }
    .ER__BW div{
      font-weight: 400;
    }
    .ER__PRcard{
      margin: 5%;
    }
    .ER__FAQ_Qs{
      margin: 2% 3%;
    }
    .ER__FAQ_Qs a{
      border-radius: 5px;
      font-size: 1.2rem;
    }
    .ER__FAQHeading{
      font-size: 1.5rem;
    }

    .ER__CardBody{
      font-size: 1rem;
    }
    .ER_Arrow{
      display:none;
    }
}